
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, input {
   background: #181818;
   color: #FFFFFF;
   margin: 5px 0px;
   font-family: "Open Sans", "sans-serif";
}

body {
   min-width: 480px;
}

#player {
   background-color: black;
   position: relative;
   min-height: 200px;
   min-width: 300px;
}

#player iframe {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
}

#leftContainer {
   float: left;
   position: relative;
}

#chat {
   width: 350px;
   float: left;
}

#toggle {

}



/* RANDOM CRAP */

div.live {
   position: absolute;
   top: 0px;
   left: 0px;
   margin-top: 4px;
   margin-left: 7px;
   color: red;
   font-weight: bold;
   font-size: 12px;
   background: rgba(0, 0, 0, 0.6);
   padding: 0px 2px;
}

span.channel-name {
   font-size: 18px;
   font-weight: bold;
}


/* MAIN CHANNEL SELECTORS */


#topContainer {
   width: 100%;
}









.title {
   font-size: 14px;
   font-style: italic;
}

/* SUGGESTION BAR */

#suggestion {
   position: fixed;
   bottom: 0px;
   width: 100%;
   z-index: 10;
   min-height: 200px;
   background: rgba(0,0,0,1);
   display: none;

}

div.suggestionSelector {
   float: left;
   position: relative;
   border: 1px solid white;
   cursor: pointer;
}

div.suggestionSelector .name {
   font-weight: bold;
}

div.suggestionThumbnail {
   max-height: 100px;
}

div.suggestionThumbnail img {
   height: 100px;
}



/**
 * Channel Selectors
 */

.selector {
   margin: 3px;
   background: none repeat scroll 0 0 #2c2c2c;
   box-shadow: 1px 1px 2px #000000;
   color: white;
   overflow: hidden;
   cursor: pointer;
   position: relative;
   padding: 2px;
   margin: 3px;
   height: 50px;
}

.selector .thumbnail {
   float: left;
   position: relative;
   margin-right: 5px;
   min-width: 90px;
}

.selector .thumbnail img {
   max-height: 50px;
   max-width: 100px;
   display:block;
   margin: 0 auto;
}


.selector .viewers {
   bottom: 0px;
   right: 0px;
   margin: 3px;
   position: absolute;
   font-size: 11px;

}

.selector .serviceLogo {
   position: absolute;
   top: 0px;
   right: 0px;
   margin: 3px;
   height: 25px;
}

.selector .info {
   font-size: 13px;
   text-shadow: 1px 1px 1px #000;
   line-height: 16px;
   margin-right: 50px;

}

.selector .name {
   color: #00d9d9;
   font-size: 17px;
   text-transform: lowercase;
   font-family: "Karnivore";
   /*text-shadow: 2px 2px 0px #4E4E4E;*/
}

.selector .game {
   font-weight: bold;
}

.selector:hover {
   background: #3d3d3d;
}

.selector:active {
   background: #282828;
}

div.current {
   background: #24424D;
}

div.current:hover {
   background: #254d58;
}

#liveSelectors,
#offlineSelectors {
   overflow: auto;
}

#offlineChannels {
   display: none;
}






/** Layout crap **/
.one-third {
   width: 33.33%;
   float:left;
}

.one-half {
   width: 50%;
   float: left;
}



#content {
   max-width: 1200px;
   margin: 0px auto;
   padding: 5px 10px;
   margin-top: -20px;
}

.loading {
   margin: 30px auto;
   width: 100px;
   text-align: center;

}

/* RESPONSIVE CRAP */

@media (max-width:800px) {


   .deepSelector .thumbnail {
      max-width: 100%;
      width: 100%;
   }

   .deepSelector thumbnail img {
      max-height: none;
   }

   .deepSelector .serviceLogo {
      position: relative;
      margin: 3px auto;
   }

   .one-half {
      width: 100%;
   }
}


/* Custom font gayness */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 4, 2014 */



@font-face {
   font-family: 'Karnivore';
   src: url('fonts/karnivor-webfont.eot');
   src: url('fonts/karnivor-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/karnivor-webfont.woff') format('woff'),
   url('fonts/karnivor-webfont.ttf') format('truetype'),
   url('fonts/karnivor-webfont.svg#karnivoreregular') format('svg');
   font-weight: normal;
   font-style: normal;

}




@font-face {
   font-family: 'Karnivore';
   src: url('fonts/karnivob-webfont.eot');
   src: url('fonts/karnivob-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/karnivob-webfont.woff') format('woff'),
   url('fonts/karnivob-webfont.ttf') format('truetype'),
   url('fonts/karnivob-webfont.svg#karnivorebold') format('svg');
   font-weight: bold;
   font-style: normal;

}




@font-face {
   font-family: 'Karnivore Light';
   src: url('fonts/karnivol-webfont.eot');
   src: url('fonts/karnivol-webfont.eot?#iefix') format('embedded-opentype'),
   url('fonts/karnivol-webfont.woff') format('woff'),
   url('fonts/karnivol-webfont.ttf') format('truetype'),
   url('fonts/karnivol-webfont.svg#karnivore_literegular') format('svg');
   font-weight: normal;
   font-style: normal;

}


/* HEADER */
#header {
   font-family: "Karnivore";
   color: white;
   max-width: 1200px;
   margin: 3px auto;
   padding: 2px 10px;
   overflow: auto;
}

#header-left {
   float: left;
   margin-right: 20px;
}

#header-right {
   float: left;
}

#header a {
   color: white;
   text-decoration: none;
}

#header a:hover,
#header a:active {
   color: #00d9d9;
}

#quote {
   font-size: 15px;
   font-family: Karnivore;
   text-transform: lowercase;
   max-height: 35px;
   line-height:1em;
   max-width: 400px;
   overflow: hidden;
}

ul.menu {
   float: left;
   font-family: "Karnivore";
   font-size: 13px;
   list-style: none outside none;
   margin: 0px;
   padding-left: 10px;
   text-shadow: 2px 2px 0px #000000;
   text-transform: lowercase;
   width: 160px;
}

body a {
   color: white;
}

.flat-button {
   border: none;
   background-color: #24424d;
   color: white;
   text-shadow: 1px 1px 1px #000;
   padding: 2px 5px;
   margin: 2px 0px;
   line-height: 16px;
   cursor: pointer;
   font-size: 12px
}

.flat-button:hover {
   background-color: #254d58;
}

.flat-button:active {
   background-color: #254651;
}

#firstTime {
   background: url("../images/welcome.png");
   width: 90%;
   max-width: 800px;
   margin: 5px auto;
   border: 1px solid #8E8E8E;
   padding: 5px;
   font-weight: bold;
   font-size: 13px;

}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Karnivore', sans-serif;
   text-transform: uppercase;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

div.deepNotification {

   cursor: pointer;

   background: rgb(255,167,61); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(255,167,61,1) 0%, rgba(255,124,0,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,167,61,1)), color-stop(100%,rgba(255,124,0,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(255,167,61,1) 0%,rgba(255,124,0,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(255,167,61,1) 0%,rgba(255,124,0,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(255,167,61,1) 0%,rgba(255,124,0,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(255,167,61,1) 0%,rgba(255,124,0,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa73d', endColorstr='#ff7c00',GradientType=0 ); /* IE6-9 */
   box-shadow: 0px 0px 10px 2px #000000;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 0px;
   font-weight: bold;
   font-size:16px;
   text-shadow: none;


}

div.deepNotification:hover{
   opacity: 0.9;
}

#configDialog {
   border:1px solid #24424d;
   background-color: #303030;
   padding: 5px;
   position: absolute;
   box-shadow: 2px 2px 3px black;
   font-size: 11px;
}
